# Explorotory Data Analysis (EDA) on Bike Sales Dataset

In [ ]:
import pandas as pd

df = pd.read_csv("../../data/Sales.csv", index_col=0, parse_dates=True)
df.head()

,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
Date,,,,,,,,,,,,,,,,,
2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [10]:
df.loc["2013"]

,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
Date,,,,,,,,,,,,,,,,,
2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2013-07-30,30,July,2013,32,Young Adults (25-34),F,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,398,360,758
2013-07-15,15,July,2013,34,Young Adults (25-34),M,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,7,45,120,349,315,664
2013-08-02,2,August,2013,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,5,45,120,369,225,594
2013-09-02,2,September,2013,29,Young Adults (25-34),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,2,45,120,148,90,238
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-12-10,10,December,2013,20,Youth (<25),F,United States,Washington,Clothing,Vests,"Classic Vest, M",8,24,64,207,192,399
2013-10-04,4,October,2013,20,Youth (<25),M,United States,Oregon,Clothing,Vests,"Classic Vest, L",16,24,64,497,384,881
2013-10-02,2,October,2013,34,Young Adults (25-34),M,United States,California,Clothing,Vests,"Classic Vest, S",25,24,64,968,600,1568
2013-07-08,8,July,2013,29,Young Adults (25-34),M,Germany,Hessen,Clothing,Vests,"Classic Vest, L",20,24,64,710,480,1190
2013-12-28,28,December,2013,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",2,24,64,75,48,123

In [11]:
df_costs = df["Unit_Cost"].sum()
df_costs

np.int64(30214112)

In [13]:
df_price = df["Unit_Price"].sum()
df_price

np.int64(51198348)

In [14]:
df_profit = df["Profit"].sum()
df_profit

np.int64(32221100)

In [17]:
df_profit1 = df["Unit_Price"].sum() - df["Unit_Cost"].sum()
df_profit1

np.int64(20984236)

In [23]:
df_canada = df[df["Country"] == "Canada"]["Profit"].sum()
df_canada

np.int64(3717296)

In [26]:
df.head()

,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
Date,,,,,,,,,,,,,,,,,
2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [28]:
df_profit_age_30plus = df[df["Customer_Age"] > 29]["Profit"].sum()
df_profit_age_30plus

np.int64(22096967)

## Hitta alla unika värden i en kolumn

In [30]:
df_categories = df["Product_Category"].unique()
df_categories

array(['Accessories', 'Clothing', 'Bikes'], dtype=object)

## Hitta nullvärden

In [32]:
df.isnull().any()

Day                 False
Month               False
Year                False
Customer_Age        False
Age_Group           False
Customer_Gender     False
Country             False
State               False
Product_Category    False
Sub_Category        False
Product             False
Order_Quantity      False
Unit_Cost           False
Unit_Price          False
Profit              False
Cost                False
Revenue             False
dtype: bool

In [33]:
df.isnull().sum()

Day                 0
Month               0
Year                0
Customer_Age        0
Age_Group           0
Customer_Gender     0
Country             0
State               0
Product_Category    0
Sub_Category        0
Product             0
Order_Quantity      0
Unit_Cost           0
Unit_Price          0
Profit              0
Cost                0
Revenue             0
dtype: int64

## Räknar antalet förekomster i dataframen

In [36]:
df_top_categories = df["Product_Category"].value_counts()
df_top_categories

Product_Category
Accessories    70120
Bikes          25982
Clothing       16934
Name: count, dtype: int64

## Grupperar efter kategori och summerar profiten, descending

In [39]:
df_profit_per_category = df.groupby("Product_Category")["Profit"].sum().sort_values(ascending=False)
df_profit_per_category

Product_Category
Bikes          20519276
Accessories     8862377
Clothing        2839447
Name: Profit, dtype: int64

In [41]:
df_by_year = df.groupby("Date")["Profit"].sum()
df_by_year

Date
2011-01-01     3225
2011-01-02     2925
2011-01-03    12174
2011-01-04     6240
2011-01-05     1644
              ...
2016-07-27     7253
2016-07-28     9285
2016-07-29     9820
2016-07-30     6977
2016-07-31    12530
Name: Profit, Length: 1884, dtype: int64

In [43]:
df_by_country = df.groupby("Country")["Profit"].sum().sort_values(ascending=False)
df_by_country

Country
United States     11073644
Australia          6776030
United Kingdom     4413853
Canada             3717296
Germany            3359995
France             2880282
Name: Profit, dtype: int64

## Vad säljer bäst/sämst
## När säljer vad bäst/sämst
## Var säljer vad bäst
## Vad säljs det många antal av, hur stort lager behöver hon ha?
## Vilka åldrar köper vad (för riktad reklam)